@import '../../../../../../styles/global.scss';

.projectHeader_detailWrapper {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  box-sizing: border-box;
  flex: 30% 1;

  .projectHeader_detailLabel {
    border-bottom: 1px dotted gray;
    padding: 10px 0;

    h3 {
      position: relative;
      display: inline-block;

      &:before {
        content: "";
        display: block;
        width: 150%;
        height: 29px;
        background-color: $highlighter;
        position: absolute;
        top: 0;
        left: -10px;
        width: calc(100% + 20px);
        transform: rotate(-3deg);
        z-index: -1;
      }
    }
  }

  .projectHeader_detail {
    padding: 10px 0 5px;
  }
}
