@font-face {
  font-family: "Lora";
  src: url("../assets/fonts/Lora-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

$highlighter: #fdf141;

body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
p,
a {
  font-family: Lora;
  margin: 0;
  line-height: 1.5;
  color: #191919;
}

h1 {
  font-size: 24px;  
  
  @include breakpoint("medium") {
    font-size: 28px;
  }

  @include breakpoint("md-large") {
    font-size: 32px;
  }
}

h2 {
  font-size: 20px;  
  
  @include breakpoint("medium") {
    font-size: 22px;
  }

  @include breakpoint("md-large") {
    font-size: 28px;
  }
}

h3 {
  font-size: 18px;

  @include breakpoint("md-large") {
    font-size: 20px;
  }

  @include breakpoint("md-large") {
    font-size: 24px;
  }
}

p, a {
  font-size: 14px;

  @include breakpoint("md-large") {
    font-size: 16px;
  }
}

body {
  margin: 0;
}
